<a href="https://colab.research.google.com/github/jw-jin/2021-DAP/blob/main/RiotAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive # 구글 드라이브에서 파일 불러오기
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

# 드라이브 경로 설정
ch_data_path = '/content/drive/MyDrive/ch_matchdata.csv' # 챌린저 매치데이터 파일 경로
gm_data_path = '/content/drive/MyDrive/gm_matchdata.csv' # 그랜드마스터 매치데이터 파일 경로
m_data_path = '/content/drive/MyDrive/m_matchdata.csv' # 마스터 매치데이터 파일 경로

# csv 불러오기
ch_data = pd.read_csv(ch_data_path, encoding= 'cp949')
gm_data = pd.read_csv(gm_data_path, encoding= 'cp949')
m_data = pd.read_csv(m_data_path, encoding= 'cp949')

In [65]:
c_df = ch_data

champion_df = c_df.loc[:,['championId', 'championName']]
champion_df = champion_df.drop_duplicates() # 중복제거
champion_df = champion_df.sort_values('championId') # championid 순 정렬

id_list = champion_df['championId'].tolist()
id_dict = champion_df.set_index('championId').T.to_dict('list')
win_df = pd.DataFrame(columns=['championId','championName', 'winrate', 'loserate'])

for key,value in id_dict.items(): # key = id value = name
  tmp_df = c_df[c_df['championId'] == key] 
  win_count = tmp_df['win'].value_counts(normalize=True)
  data = {
      'championId' : key,
      'championName' : value[0],
      'winrate' : win_count[1],
      'loserate' : win_count[0] 
  }
  win_df = win_df.append(data,ignore_index=True)

win_df

    championId championName   winrate  loserate
0            1        Annie  0.405405  0.594595
1            2         Olaf  0.544803  0.455197
2            3        Galio  0.502357  0.497643
3            4  TwistedFate  0.505515  0.494485
4            5      XinZhao  0.523975  0.476025
..         ...          ...       ...       ...
152        711          Vex  0.518000  0.482000
153        777         Yone  0.493834  0.506166
154        875         Sett  0.487689  0.512311
155        876       Lillia  0.467890  0.532110
156        887         Gwen  0.498815  0.501185

[157 rows x 4 columns]